//the scss of the login page

@import '../../../styles/variables';

.big-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../../../assets/Pictures/login-background1.jpg);
    background-size: cover;
    background-position: 60% 70%;
}


.center-container {
    .container-logo {
        text-align: center;
        margin-bottom: 20px;

        img {
            width: 80px;
            height: 80px;
        }
    }

    .box-container {
        width: 500px;
        background: $white;
        box-shadow: 0 5px 20px rgba(0, 0, 0, .2);
        padding: 30px;

        h1 {
            text-align: center;
            margin-top: 0;
        }

        form {
            .form-group:not(:last-child) {
                margin-bottom: 16px;
            }

            .btn-register {
                width: 100%;
                height: 44px;
                color: $white;
                font-size: 14px;
                background: $black;
                border: 1px solid $black;
                cursor: pointer;
                transition: all .3s ease;

                &:hover:not([disabled]) {
                    background: $darken;
                    border-color: $darken;
                }

                &:active:not([disabled]) {
                    background: $darker;
                    border-color: $darker;
                }

                &[disabled] {
                    opacity: .4;
                    cursor: not-allowed;
                }
            }
        }

        p {
            text-align: center;
            font-size: 12px;
            font-weight: lighter;
            margin-top: 18px;
            margin-bottom: 0;

            a {
                text-decoration: underline;
                color: $primary;
            }
        }
    }
}
