<!--here is the html for the login page-->

<div class="big-container">
    <div class="center-container">
        <div class="container-logo">
                <a routerLink="/"><img src="../../../assets/Pictures/SewainAjaLogo.png" alt="logo"></a>
        </div>

        <div class="box-container">
            <h1>Sign In</h1>

            <form role="form" [formGroup]="loginForm" (submit)="login()">

                <div class="form-group">
                    <label class="control-label">E-mail</label>
                    <input type="email" class="form-control" formControlName="email" validate>
                </div>

                <div class="form-group">
                    <label class="control-label">Password</label>
                    <input type="password" class="form-control" formControlName="password" validate>
                </div>

                <div class="form-group">
                    <button class="btn btn-register" [disabled]="loginForm.invalid">
                        Sign In
                    </button>
                </div>
            </form>

            <p>
                Belum punya akun? <a routerLink="/auth/register">Sign Up</a>
            </p>
        </div>
    </div>
</div>
