<div id="main" class="checkout">
    <header>
        <img src="/assets/Pictures/SewainAjaLogo.png" alt="logo" class="logo">
    </header>
    <div id="checkout">
        <p class="instruction">Complete your payment details below</p>

        <form id="payment-form" role="form" [formGroup]="stripeForm" (submit)="buy()">
            <section>
                <h2>Payment Information</h2>
                <div class="payment-info card visible">
                    <fieldset>
                        <label>
                            <span>Card</span>
                            <div id="card-element" class="field StripeElement StripeElement--empty">
                                <ngx-stripe-card [options]="cardOptions" [elementsOptions]="elementsOptions"></ngx-stripe-card>
                            </div>
                        </label>
                    </fieldset>
                </div>
            </section>
            <button type="submit">Pay {{ transactionSummary?.transaction_price | currency:'IDR' }}</button>
        </form>
    </div>
</div>
<div id="summary">
    <header>
        <h1>Lease Summary</h1>
    </header>
    <div id="order-items">
        <div class="line-item" *ngFor="let detail of transactionSummary?.transaction_details">
            <img class="image" src="/assets/Pictures/iphone.jpg">
            <div class="label">
                <p class="product">
                    {{ detail.product.name }}
                </p>
                <p class="sku">3 weeks</p>
            </div>
            <p class="count">
                {{ detail.product_quantity }} x {{ detail.product_price | currency:'IDR' }}
            </p>
            <p class="price">
                {{ detail.product_quantity * detail.product_price | currency:'IDR'}}
            </p>
        </div>
    </div>
    <div id="order-total">
        <div class="line-item subtotal">
            <p class="label">Subtotal</p>
            <p class="price" data-subtotal>
                {{ transactionSummary?.transaction_price | currency:'IDR' }}
            </p>
        </div>
        <div class="line-item shipping">
            <p class="label">Shipping</p>
            <p class="price">Free</p>
        </div>
        <div class="line-item total">
            <p class="label">Total</p>
            <p class="price" data-total>
                {{ transactionSummary?.transaction_price | currency:'IDR' }}
            </p>
        </div>
    </div>
</div>
