//scss of the order component

@import '../../../styles/variables';

.Container {
    width: 100%;
    padding: 60px 0;

    .Delivery-Container {
        margin: 0 10%;
        padding: 20px;
        background: $white;
        box-shadow: 0 5px 20px rgba(0, 0, 0, .2);

        &:not(:last-child) {
            margin-bottom: 80px;
        }

        .Image {
            width: 30%;
            margin-right: 30px;

            .imge {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

        .Info {
            color: $black;
            font-size: 1rem;
            height: 100%;
            width: 70%;

            .Product {
                height: 30%;

                .Product-Info {
                    width: 50%;

                    h3 {
                        margin-top: 0;
                    }
                }

                .Receipt {
                    padding: 2%;
                    width: 50%;
                    text-align: center;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .btn, .btn-primary-outline {
                        color: $white;
                        border-color: $white;
                    }
                }
            }

            .Users {
                height: 70%;
                margin: 0 -2%;
                margin-bottom: 20px;

                .Provider {
                    width: 50%;
                    padding: 2%;
                    word-break: break-word;
                    line-height: 20px;
                }

                .Customer {
                    width: 50%;
                    padding: 2%;
                    word-break: break-word;
                    line-height: 20px;
                }
            }

            .detail-btn {
                margin-top: 40px;
                padding-top: 14px;
            }
        }
    }

    .alert {
        &.alert-primary {
            margin: 0 10%;
            padding: 20px;
            background: rgba($soft-blue, .1);
            border: 1px solid $soft-blue;
            color: $soft-blue;

            p {
                margin: 0;
            }
        }
    }
}

.flex {
    display: flex;
}
