<!--component that will b e called to evry page to display the title of the page-->

<div class="Container">
    <div class="Title-Container">
        <img src="assets/Pictures/iphone.jpg" alt="">
        <div class="Title">
            <div class="MainTitle">
                {{ title }}
            </div>
            <div class="SubTitle">
                {{ subtitle }}
            </div>
        </div>
    </div>
</div>
