//the styling of the title component

@import '../../../styles/variables';

.Container {
    height: 300px;

    .Title-Container {
        height: 100%;
        position: relative;
        text-align: center;
        color: $white;

        &:after {
            content: ' ';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, .5);
        }

        .Title {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 99;

            .MainTitle {
                font-size: 2rem;
                font-weight: bold;
            }

            .SubTitle {
                margin-top: 10px;
                font-size: 1rem;
            }
        }
    }
}
