<!--the title of this page-->

<app-title title="Products" subtitle="Get our awesome products"></app-title>

<!--the html for this component-->

<div class="Product-Container">
    <div class="Product flex">

        <div class="Product-Column" *ngFor="let product of products">
            <a [routerLink]="['/products', product.id]">
                <div class="Product-Content" >
                    <div class="ProductImage"><img [src]="product.product_images[0].image" alt=""></div>
                    <div class="ProductDesc">
                        <h3 class="ProductName">
                            {{ product.name }}
                        </h3>
                        <label class="ProductPrice">
                            {{ product.product_prices[0].product_price | currency:'IDR' }}
                        </label>
                    </div>

                    <div class="ProductAction">
                        <div class="ProductActionItem">
                            <i class="fas fa-cart-arrow-down"></i>
                        </div>

                        <div class="ProductActionItem">
                            <i class="fas fa-heart"></i>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>


