@import 'variables';

input, textarea {
    &.form-control {
        width: 100%;
        border: 1px solid transparent;
        background: rgba(34,36,38,.05);
        padding: 6px 12px;
        font-size: 14px;
        height: 44px;

        &:focus {
            outline: 0;
            border: 1px solid $primary;
        }
    }
}

button {
    &.btn {
        &:active, &:focus {
            outline: 0;
        }
    }
}

label {
    &.control-label {
        margin-bottom: 4px;
        display: block;
        font-size: 12px;
    }
}
