//this is the scss of the delivery page

@import '../../../styles/variables';

.Container {
    width: 100%;
    padding: 50px 0;

    .Delivery-Container {
        margin: 2% 10%;
        background-color: $gray-400;
        height: 400px;

        .Image {
            padding: 2%;
            width: 30%;

            .imge {
                height: 100%;
                width: 100%;
                background-color: black;
            }
        }

        .Info {
            color: $black;
            font-size: 1rem;
            height: 100%;
            width: 70%;

            .Product {
                height: 30%;

                .Product-Info {
                    width: 50%;
                }

                .Receipt {
                    padding: 2%;
                    width: 50%;
                    text-align: center;
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;

                    .btn, .btn-primary-outline {
                        color: $white;
                        border-color: $white;
                    }
                }
            }

            .Users {
                height: 70%;
                margin: 0 -2%;

                .Provider {
                    width: 50%;
                    padding: 2%;
                    word-break: break-word;
                    line-height: 20px;
                }

                .Customer {
                    width: 50%;
                    padding: 2%;
                    word-break: break-word;
                    line-height: 20px;

                    .customer-shipping-address {
                        margin-bottom: 20px;

                        > * {
                            margin: 0;

                            &:not(:last-child) {
                                margin-bottom: 8px;
                            }
                        }

                        label {
                            display: block;
                        }
                    }
                }
            }
        }
    }
}

.flex {
    display: flex;
}

.Hidden {
    visibility: hidden;
    opacity: 0;
    z-index: 2;
    //transition: opacity 5s ease;
}

.PopUp-Container {
    height: 100%;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    //transition: opacity 5s ease;
    .Form-Container {
        background-color: $gray-500;
        height: 60%;
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;

        .Content {
            h3 {
                margin-bottom: 2%;
            }

            input {
                height: 35px;
                width: 180px;
                margin-bottom: 5%;
            }
        }
    }

}



