//the scss of the home component

@import '../../../styles/variables';

.flex {
    display: flex;
    flex-flow: row wrap;
}

.Promo-Container {
    height: 700px;
    width: 100%;

    .Promo {
        height: 100%;
        margin: 0 10%;
        position: relative;

        .Promo-Text-Container {
            position: absolute;
            background: linear-gradient(180deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.7));
            height: 100%;
            width: 100%;
            left: 0;
            top: 0;
            padding-left: 60%;
            padding-top: 30%;
            color: $white;

            .Promo-Text {
                text-shadow: 8px 8px 10px $black;

                h3, h2 {
                    margin-top: 0;
                }
            }
        }
    }
}


.Category-Container {
    margin: 50px 10%;
    justify-content: space-between;

    a {
        height: 100%;
    }

    .Category {
        width: 31%;
        position: relative;

        .CategoryContent {
            height: 500px;

            &:after {
                content: ' ';
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                background: linear-gradient(to top, rgba(35, 35, 37, .9) 0%, rgba(35, 35, 37, .45) 35%, rgba(0, 0, 0, 0) 100%);
            }

            &:hover {
                i {
                    transform: translateX(5px);
                }
            }

            .Category-Description {
                position: absolute;
                bottom: 26px;
                left: 26px;
                color: white;
                z-index: 9;

                h3 {
                    margin: 0;
                }

                label {
                    display: block;
                    margin-top: 6px;
                    font-size: 12px;
                    cursor: pointer;
                    font-weight: lighter;
                    color: $gray-600;

                    i {
                        margin-left: 6px;
                        color: $gold;
                        transition: all .3s ease-in-out;
                    }
                }
            }
        }
    }

    .MidCategory {
        flex-direction: column;
        width: 32%;
        justify-content: space-between;

        .Mid-Category-Content {
            width: 100%;

            .MidCategoryItem {
                height: 240px;
                position: relative;

                &:after {
                    content: ' ';
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    background: linear-gradient(to top, rgba(35, 35, 37, .9) 0%, rgba(35, 35, 37, .45) 35%, rgba(0, 0, 0, 0) 100%);
                }

                &:hover {
                    i {
                        transform: translateX(5px);
                    }
                }

                .Category-Description {
                    position: absolute;
                    bottom: 20px;
                    left: 20px;
                    color: white;
                    z-index: 9;

                    h3 {
                        margin: 0;
                    }

                    label {
                        display: block;
                        margin-top: 6px;
                        font-size: 12px;
                        cursor: pointer;
                        font-weight: lighter;
                        color: $gray-600;

                        i {
                            margin-left: 6px;
                            color: $gold;
                            transition: all .3s ease-in-out;
                        }
                    }
                }
            }
        }
    }
}

.OurProduct {
    text-align: center;
    margin-top: 10px;

    .OurProduct-Text-Container {
        margin: 0 10%;

        h2 {
            margin: 0 0 14px;
        }

        .OurProduct-Subtitle {
            color: $gray-400;
            font-size: 12px;
            margin: 0;
        }
    }

    .ProductCategory {
        margin-top: 40px;
        justify-content: center;

        .ProductCategoryItem {
            background-color: $gray-200;
            padding: 19px 20px 15px;
            margin: 0 10px;
            font-size: 14px;
            transition: all .3s ease;
            cursor: pointer;

            &.active {
                background: $gold;
                color: $white;
            }
        }
    }

}

.Product-Container {
    margin: 50px 10%;

    .Product {
        margin: 0 15px;
        justify-content: space-between;
        flex-flow: row wrap;

        .Product-Column {
            width: 25%;
            padding: 0 15px;
            margin: 15px 0;


            .Product-Content {
                position: relative;
                overflow: hidden;
                height: 320px;
                box-shadow: 0 5px 20px rgba(0, 0, 0, .2);

                &:hover {
                    &:after {
                        background: rgba(0, 0, 0, .6);
                    }

                    .ProductAction {
                        .ProductActionItem {
                            transform: translateX(0);
                            opacity: 1;
                        }
                    }
                }

                &:after {
                    transition: all .35s ease;
                    content: ' ';
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    //background: linear-gradient(to top, rgba(35, 35, 37, .9) 0%, rgba(35, 35, 37, .45) 35%, rgba(0, 0, 0, 0) 100%);
                    background: rgba(0, 0, 0, .4);
                }

                .ProductImage {
                    width: 100%;
                    height: 100%;
                }

                .ProductDesc {
                    position: absolute;
                    z-index: 9;
                    bottom: 20px;
                    left: 20px;
                    color: white;

                    .ProductName {
                        margin: 0;
                    }

                    .ProductPrice {
                        display: block;
                        color: $red;
                        font-size: 14px;
                        margin-top: 8px;
                    }
                }

                .ProductAction {
                    position: absolute;
                    right: 20px;
                    top: 20px;
                    z-index: 9;

                    .ProductActionItem {
                        width: 32px;
                        height: 32px;
                        border: 1px solid white;
                        border-radius: 50%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        color: white;
                        margin-bottom: 14px;
                        transform: translateX(50px);
                        opacity: 0;
                        transition: all .2s ease;

                        &:nth-child(2) {
                            transition-delay: .075s;
                        }

                        i {
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }
}

.Carousel-Container {
    margin: 50px 0;

    .Carousel {
        position: relative;
        margin: 0 3%;
        background-color: grey;
        height: 450px;

        .Text {
            background: linear-gradient(180deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.7));
            position: absolute;
            height: 100%;
            width: 100%;
            left: 0;
            top: 0;
            padding-left: 45%;
            padding-top: 15%;
            color: $white;
        }
    }
}

.news-container {
    margin: 0 10%;

    .news-wrapper-list {
        margin: 0 15px;
        justify-content: space-between;
        flex-flow: row wrap;

        .news-column {
            padding: 0 15px;
            width: 25%;
            margin-bottom: 30px;

            .news-card {
                box-shadow: 0 1px 3px 0 rgba(50, 50, 93, 0.15),
                0 4px 6px 0 rgba(112, 157, 199, 0.15);
                background: $white;
                min-height: 350px;

                .news-thumb {
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                .news-content {
                    padding: 20px;

                    a {
                        color: $black;
                        transition: all .2s ease;

                        &:hover {
                            color: $gold;
                        }
                    }

                    > * {
                        margin: 0;

                        h3 {
                            margin: 0;
                        }

                        &:not(:last-child) {
                            margin-bottom: 10px;
                            display: block;
                        }
                    }

                    p {
                        font-size: 14px;
                        line-height: 1.5;
                    }
                }
            }
        }
    }
}

.Advertisement-Container {
    margin: 50px 0;

    .Advertisement {
        justify-content: space-between;
        height: 350px;
        margin: 0 10%;

        .Ads {
            height: 100%;
            width: 48%;

            .AdsContent {
                width: 50%;
                height: 100%;
                text-align: center;
            }
        }
    }
}

.Services-Container {
    padding: 80px 0;

    .Services {
        justify-content: space-between;
        margin: 0 10%;

        .Service {
            width: 30%;

            .Service-Content {
                display: flex;
                justify-content: center;
            }

            h4 {
                text-align: center;
                margin: 14px 0 0;
            }

            p {
                color: $gray-500;
                font-size: 12px;
                text-align: center;
                margin-top: 20px;
                line-height: 1.5;
            }
        }
    }
}



