<!--this is the html of the home component-->

<div class="Master-Wrapper">
    <div class="Promo-Container">
        <div class="Promo">
            <img src="assets/Pictures/Promo.jpg" alt="">
            <div class="Promo-Text-Container">
                <div class="Promo-Text">
                    <h3>Trending Product!</h3>
                    <h2>Samsung Galaxy 10</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="Category-Container flex">
        <div class="Category">
            <a href="#">
                <div class="CategoryContent">
                    <img src="assets/Pictures/laptop.jpg" alt="">
                    <div class="Category-Description">
                        <h3>Laptop</h3>
                        <label>
                            Shop Now
                            <i class="fas fa-arrow-right"></i>
                        </label>
                    </div>
                </div>
            </a>
        </div>
        <div class="MidCategory flex">
            <div class="Mid-Category-Content">
                <a href="#">
                    <div class="MidCategoryItem">
                        <img src="assets/Pictures/tablet.jpg" alt="">
                        <div class="Category-Description">
                            <h3>Tablet</h3>
                            <label>
                                Shop Now
                                <i class="fas fa-arrow-right"></i>
                            </label>
                        </div>
                    </div>
                </a>
            </div>
            <div class="Mid-Category-Content">
                <a href="#">
                    <div class="MidCategoryItem">
                        <img src="assets/Pictures/speaker.jpg" alt="">
                        <div class="Category-Description">
                            <h3>Speaker</h3>
                            <label>
                                Shop Now
                                <i class="fas fa-arrow-right"></i>
                            </label>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="Category">
            <a href="#">
                <div class="CategoryContent">
                    <img src="assets/Pictures/smartphone.jpg" alt="">
                    <div class="Category-Description">
                        <h3>Smartphone</h3>
                        <label>
                            Shop Now
                            <i class="fas fa-arrow-right"></i>
                        </label>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <div class="OurProduct">
        <div class="OurProduct-Text-Container">
            <h2>Trending</h2>
            <p class="OurProduct-Subtitle">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto consequuntur
                deserunt
                ducimus enim error eum inventore porro quas rerum velit?
            </p>
        </div>

        <div class="ProductCategory flex">
            <div class="ProductCategoryItem active">Smartphone</div>
            <div class="ProductCategoryItem">Laptop</div>
            <div class="ProductCategoryItem">Speaker</div>
            <div class="ProductCategoryItem">Tablet</div>
        </div>
    </div>

    <div class="Product-Container">
        <div class="Product flex">
            <div class="Product-Column" *ngFor="let product of products">
                <a [routerLink]="['/products', product.id]">
                    <div class="Product-Content">
                        <div class="ProductImage"><img [src]="product.product_images[0].image" alt=""></div>
                        <div class="ProductDesc">
                            <h3 class="ProductName">{{product.name}}</h3>
                            <label class="ProductPrice">
                                Starting From: {{ product.product_prices[0].product_price | currency:'IDR' }}/ Month
                            </label>
                        </div>

                        <div class="ProductAction">
                            <div class="ProductActionItem">
                                <i class="fas fa-cart-arrow-down"></i>
                            </div>

                            <div class="ProductActionItem">
                                <i class="fas fa-heart"></i>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div class="Carousel-Container">
        <div class="Carousel">
            <img src="assets/Pictures/tabletopImg.jpg" alt="">
            <div class="Text">
                <h1>New Item</h1>
            </div>
        </div>
    </div>

    <div class="Product-Container">
        <div class="Product flex">
            <div class="Product-Column" *ngFor="let newproduct of NewProducts">
                <a [routerLink]="['/products', newproduct.id]">
                    <div class="Product-Content">
                        <div class="ProductImage"><img [src]="newproduct.product_images[0].image" alt="">
                        </div>
                        <div class="ProductDesc">
                            <h3 class="ProductName">{{newproduct.name}}</h3>
                            <label class="ProductPrice">
                                Starting from: {{newproduct.product_prices[0].product_price |currency:"IDR"}} /Month
                            </label>
                        </div>

                        <div class="ProductAction">
                            <div class="ProductActionItem">
                                <i class="fas fa-cart-arrow-down"></i>
                            </div>

                            <div class="ProductActionItem">
                                <i class="fas fa-heart"></i>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div class="Carousel-Container">
        <div class="Carousel">
            <img src="assets/Pictures/iphone.jpg" alt="">
            <div class="Text">
                <h1>News</h1>
            </div>
        </div>
    </div>

    <div class="news-container">
        <div class="news-wrapper-list flex">
            <div class="news-column" *ngFor="let newdata of news">
                <div class="news-card">

                    <div class="news-thumb">
                        <img src="assets/Pictures/asus-zenbook.jpg" alt="test">
                    </div>

                    <div class="news-content">
                        <a [href]="newdata.link">
                            <h3 class="news-title">
                                {{ newdata.title.rendered }}
                            </h3>
                        </a>

                        <p class="news-paragraph" [innerHTML]="newdata.excerpt.rendered"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="Services-Container">
        <div class="Services flex">
            <div class="Service">
                <div class="Service-Content">
                    <i class="fas fa-4x fa-comments"></i>
                </div>
                <h4>24/7 Support</h4>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, harum!
                </p>
            </div>
            <div class="Service">
                <div class="Service-Content">
                    <i class="fas fa-4x fa-bolt"></i>
                </div>
                <h4>Fast Delivery</h4>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores, voluptas!
                </p>
            </div>
            <div class="Service">
                <div class="Service-Content">
                    <i class="fas fa-4x fa-dollar-sign"></i>
                </div>
                <h4>Competitive</h4>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum, excepturi.
                </p>
            </div>
        </div>
    </div>
</div>


