<!--<div class="Subscription-Container">
    <div class="Subscription BorderTop">
        <div class="Text">
            kevin
            nixon
        </div>
    </div>
</div>-->

<!--the footer for every page-->

<div class="Copyright-Container">
    <div class="Copyright BorderTop flex">
        <div class="Left">
            <img src="assets/Pictures/SewainAjaLogo.png" alt="">
        </div>
        <div class="Middle flex">
            SewainAja websites
        </div>
        <div class="Right flex">
                <i class="fas  fa-2x fa-at"></i>
                <i class="fab  fa-2x fa-facebook-square"></i>
                <i class="fab  fa-2x fa-instagram"></i>
        </div>
    </div>
</div>
