//the scss of the footer component

.Subscription-Container {
    height: 400px;

    .Subscription {
        height: 100%;
        margin: 0 10%;
        display: flex;
        justify-content: center;
        align-items: center;

        .Text {
            white-space: pre;
        }
    }
}


.Copyright-Container {
    height: 150px;

    .Copyright {
        height: 100%;
        margin: 0 5%;

        .Left {
            width: 20%;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                height: 100px;
                width: 100px;
            }
        }

        .Middle {
            width: 60%;
            justify-content: flex-start;
            align-items: center;
        }

        .Right {
            width: 20%;
            justify-content: flex-start;
            align-items: center;

            i{
                margin: 0 5%;
                //height: 30px;
                //width: 30px;
            }
        }
    }
}

.flex {
    display: flex
}

.BorderTop {
    border-top: 1px solid darkgrey;
}
