<!--this is the html for the nav bar-->

<div class="NavBar">
        <div class="Logo">
                <a routerLink="/"><img src="assets/Pictures/SewainAjaLogo.png" alt=""></a>
        </div>
        <div class="Menu" (keydown.enter)="SearchPop()">
                <ul>
                        <li>
                                <a routerLink="/products">Products</a>
                        </li>
                        <ng-container *ngIf="isProvider">
                                <li>
                                        <a routerLink="/order">Order</a>
                                </li>
                                <li>
                                        <a routerLink="/my-products">My Products</a>
                                </li>
                        </ng-container>
                        <li class="flex">
                                <input   (click)="SearchPop()" (keyup.enter)="searchSmth($event)" #Search class="" type="text">
                        </li>
                </ul>
        </div>
        <div class="Features">
                <ul>
                        <li>
                                <a [routerLink]="['/cart']">
                                        <i class="fas fa-shopping-cart"></i>
                                </a>
                        </li>
                        <li *ngIf="!loggedIn">
                                <a [routerLink]="['/auth/login']">
                                        <i class="fas fa-sign-in-alt"></i>
                                </a>
                        </li>
                        <li class="has-dropdown" *ngIf="loggedIn">
                                <i class="fas fa-user"></i>

                                <ul class="dropdown">
                                        <li class="dropdown-menu non-link">
                                                Hi, {{ username }}
                                        </li>
                                        <li class="dropdown-menu">
                                                <a href="#" (click)="logout()">
                                                        Logout
                                                </a>
                                        </li>
                                </ul>
                        </li>
                </ul>
                <!--<div class="Features"><img src="assets/Pictures/SearchSymbol.svg" alt=""></div>-->
                <!--<div class="Features" routerLink="/cart"><img src="assets/Pictures/ShopingBasket.svg" alt=""></div>-->
                <!--<div class="Features"><img src="assets/Pictures/ListSymbol.svg" alt=""></div>-->
        </div>
</div>
