//the scss of the nav bar component

@import '../../../styles/variables';

.NavBar {
    display: flex;
    height: 75px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 0 10%;



    .Logo {
        width: 20%;
        display: flex;
        align-items: center;

        .Account {
            img {
                height: 30px;
                width: 30px;
            }
        }

        img {
            height: 50px;
            width: 50px;
        }
    }

    .Menu {
        width: 60%;

        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            li {
                margin: 0 5%;


                    input{
                            background-image: url(" assets/Pictures/SearchSymbol.svg");
                            background-size: 25px 25px;
                            background-repeat:no-repeat;
                            border-radius:5px;
                            outline:none;
                            box-sizing: border-box;
                            height:32px;
                            width: 28px;
                            padding:0 0 0 28px;
                            border:3px solid $gray-400;
                            border-color: $white;
                            transition:all 1s ease;
                    }


                a {
                    color: $black;
                    position: relative;

                    &:after {
                        content: ' ';
                        position: absolute;
                        top: 130%;
                        left: 0;
                        width: 0;
                        height: 2px;
                        background: $black;
                        transition: all .3s ease;
                        opacity: 0;
                    }

                    &:hover:after {
                        width: 100%;
                        opacity: 1;
                    }

                }
            }
        }
    }

    .Features {
        width: 20%;


        > ul {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            list-style: none;
            height: 100%;
            margin: 0;
            padding: 0;

            > li {
                margin-left: 24px;
                position: relative;

                a {
                    color: $black;
                }

                &.has-dropdown {
                    cursor: pointer;

                    &:hover {
                        .dropdown {
                            display: block;
                        }
                    }
                }

                .dropdown {
                    width: 150px;
                    background: white;
                    position: absolute;
                    top: 110%;
                    right: 0;
                    list-style: none;
                    margin: 0;
                    padding: 0;
                    display: none;
                    box-shadow: 0 5px 20px rgba(0, 0, 0, .2);
                    z-index: 999;

                    &:hover {
                        display: block;
                    }

                    .dropdown-menu {
                        font-size: 14px;
                        line-height: 2;

                        &.non-link {
                            padding: 6px 12px 3px;
                        }

                        a {
                            height: 100%;
                            display: block;
                            padding: 6px 12px 3px;
                            line-height: 2;
                            font-size: 14px;

                            &:hover {
                                background: $gray-200;
                            }

                            &:after {
                                box-shadow: 0 5px 20px rgba(0, 0, 0, .2);
                                content: ' ';
                                position: absolute;
                                top: -5px;
                                border-left: 5px solid transparent;
                                border-right: 5px solid transparent;
                                border-bottom: 5px solid $white;
                                right: 2px;
                            }
                        }
                    }
                }
            }
        }
    }
}

.Length{
        border:3px solid $gray-400 !important;
        width:200px !important;
        transition: all 0.5s ease!important;
}
