@import 'styles/variables';
@import 'styles/input';
@import 'styles/button';
@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '~@fortawesome/fontawesome-free/scss/brands.scss';
@import '~@fortawesome/fontawesome-free/scss/solid.scss';
@import '~@fortawesome/fontawesome-free/scss/regular.scss';

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

body {
    font-family: 'Rockwell', sans-serif;
}

a {
    text-decoration: none;
}
